/**
 * Copyright 2023 Rochester Institute of Technology (RIT). Developed with
 * government support under contract 70RSAT19CB0000020 awarded by the United
 * States Department of Homeland Security.
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */

footer span {
  color: #005EA2;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

footer p {
  margin: 10px 60px;
}

nav {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 3;
  right: -400px;
}

.nav-opening {
  animation-name: navOpening;
  animation-duration: .5s;
  right: 0vw;
}

.nav-closing {
  animation-name: navClosing;
  animation-duration: .5s;
  right: -400px;
}

.nav-icon {
  width: 60px;
  height: 60px;
  background-color: #005EA2;
  border-bottom: 3px solid darkgray;
  border-left: 3px solid darkgray;
  border-radius: 0 0 0 5px;
  display: grid;
  grid-template-rows: auto auto auto;
  cursor: pointer;
}

.nav-icon:hover {
  background-color: #004577;
}

.hamburger-line {
  background-color: white;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  margin: auto;
}

.hamburger-line:nth-child(1) {
  margin-top: 18px;
}

.hamburger-line:nth-child(3) {
  margin-bottom: 18px;
}

.expanded-nav {
  width: 400px;
  height: 100vh;
  background-color: white;
  border-left: 2px solid black;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, .4);
  text-align: center;
  overflow-y: auto;
}

.expanded-nav>ul {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.expanded-nav li {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.expanded-nav li:nth-child(1) {
  border-top: 1px solid black;
}

.expanded-nav a {
  padding: 15px 10px;
  margin: 0;
  position: relative;
  display: inline-block;
  text-indent: 20px;
  text-align: left;
}

.expanded-nav h2 {
  text-align: center;
  text-decoration: underline;
  margin: 25px 0;
}

.expanded-nav .bottom {
  position: absolute;
  bottom: 0;
  width: 400px;
  padding: .7em 0;
  background-color: #005EA2;
}

.expanded-nav .bottom a {
  text-align: center;
  text-indent: 0;
  color: white;
  width: 100%;
}

.expanded-nav .bottom:hover {
  background-color: #004577;
}

.metadata-pane {
  width: clamp(400px, 80vw, 1200px);
}

.catalog-pane {
  width: clamp(350px, 75vw, 1100px);
}

.no-overflow {
  overflow-y: hidden;
}

.prepend-up-arrow::before {
  content: "▲ ";
  font-size: larger;
}

.prepend-down-arrow::before {
  content: "▼ ";
  font-size: larger;
}

.sublink {
  padding-left: 20px;
  text-decoration: none;
  position: relative;
  animation: treeItemFadeIn 300ms;
  animation-delay: calc(var(--order) * 70ms);
  animation-fill-mode: backwards;
}

.expanded-nav .grid-square {
  display: grid;
  grid-template-columns: 50px 225px 75px 50px;
  grid-template-rows: auto auto;
}

.expanded-nav .grid-square>p {
  grid-area: 1 / 1 / 2 / 2;
  padding: 10px;
  margin: 0;
}

.expanded-nav .grid-square>a {
  grid-area: 1 / 2 / 2 / 3;
}

.expanded-nav .grid-square>button {
  grid-area: 1 / 3 / 2 / 4;
  margin: 5px;
  background-color: rgb(204, 0, 0);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .4);
  color: white;
  border: 0;
  border-radius: 10px;
  font-size: large;
}

.expanded-nav .grid-square>button:hover {
  background-color: rgb(119, 0, 0);
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .7);
}

.expanded-nav .grid-square li {
  border: 0;
}

.expanded-nav .grid-square>ul {
  grid-area: 2 / 1 / 3 / 4;
  list-style: none;
  padding: 0;
  margin: 0 0 20px 25px;
  border-left: 1px solid gray;
  display: flex;
  flex-direction: column;
}

.expanded-nav .grid-square>p:hover, .expanded-nav .grid-square>a:hover, .expanded-nav .grid-square li:hover {
  background-color: #EFF2F4;
}

nav a {
  text-decoration: none;
  color: rgb(36, 36, 36);
}

@keyframes navOpening {
  from {right: -400px;}
  to {right: 0vw;}
}

@keyframes navClosing {
  from {right: 0vw;}
  to {right: -400px;}
}

@keyframes treeItemFadeIn {
  from {top: -20px; opacity: 0}
  to {top: 0; opacity: 1}
}