<div class="catalog-info">
    <h1 style="margin-left: 10px;">{{ metadata.title }}</h1>
    <div class="catalog-info-content">
        <!-- metadata contains last_modified, version, oscal_version and published. show these attributes -->
        <p *ngIf="metadata.published">Published: {{ metadata.published }}</p>
        <p *ngIf="metadata.last_modified">Last Modified: {{ metadata.last_modified }}</p>
        <p *ngIf="metadata.version">Version: {{ metadata.version }}</p>
        <p *ngIf="metadata.oscal_version">OSCAL Version: {{ metadata.oscal_version }}</p>
    </div>
</div>