<section class="group">
    <div *ngIf="id; else ungrouped" class="inline-block">
        <h2 (click)="toggleComponents()" [className]="showComponents ? 'prependDownArrow' : 'prependUpArrow'">{{ id }}: {{ title }}</h2>
    </div>
    <ng-template #ungrouped class="inline-block">
        <h2 (click)="toggleComponents()" [className]="showComponents ? 'prependDownArrow' : 'prependUpArrow'">{{ title }}</h2>
    </ng-template>  
    <input type="checkbox" [id]="'group-checkall-' + id" class="group-checkbox" (click)="setAllChildrenToParent()"> 
    <div [className]="showComponents ? 'group-rollable-content' : 'group-rollable-content hidden'">
        <p *ngIf="description">{{ description }}</p>
        <div id="checkbox-container" class="checkbox-container">
            <app-control *ngFor="let item of controls" 
              [id]="item.id"
              [title]="item.title"
              [class]="item.class"
              [params]="item.params"
              [parts]="item.parts"
              [links]="item.links"
              [props]="item.props"
              [controls]="item.controls"
              (update) = "update()"
            ></app-control>
        </div>
    </div>
</section>