h2 {
    cursor: pointer;
    user-select: none;
    margin: 0;
}

.prependUpArrow::before {
    content: "▲ "
}
.prependDownArrow::before {
    content: "▼ "
}
.hidden {
    display: none;
}
button {
    float: right;
}
.inline-block {
    display: inline-block;
    margin: 15px;
}
.group-checkbox {
    width: 20px;
    height: 20px;
}