<section class="group">
    <div class="button-div" *ngIf="showComponents">
        <button (click)="setAllChildren(true)" *ngIf="!areAllChecked()">Check All</button>
        <button (click)="setAllChildren(false)" *ngIf="areAllChecked()">Uncheck All</button>
    </div>
    <h2 (click)="toggleComponents()" [className]="showComponents ? 'appendDownArrow' : 'appendUpArrow'">
        {{ id }}: {{ title }}
    </h2>
    <div [className]="showComponents ? 'group-rollable-content' : 'group-rollable-content hidden'">
        <p *ngIf="description">{{ description }}</p>
        <div id="checkbox-container" class="checkbox-container">
            <app-control *ngFor="let item of controls" 
              [id]="item.id"
              [title]="item.title"
              [class]="item.class"
              [params]="item.params"
              [parts]="item.parts"
              [links]="item.links"
              [props]="item.props"
              [controls]="item.controls"
            ></app-control>
        </div>
    </div>
</section>