/**
 * Copyright 2023 Rochester Institute of Technology (RIT). Developed with
 * government support under contract 70RSAT19CB0000020 awarded by the United
 * States Department of Homeland Security.
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */
.checkbox-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 10px 25px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-label {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 10px;
  user-select: none; /* Prevents text selection when clicking the label */
  display: inline-flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 20px;
  width: 15px;
  height: 15px;
}

.checkbox-label:hover {
  text-decoration: underline;
}

input[name="explanation"] {
  width: 300px;
  margin-left: 50px;
}

.button-set {
  min-width: 80px;
  margin-left: 10px;
  position: relative;
  top: 3px;
}

img {
  border: 1px solid gray;
  padding: 2px;
  width: 20px;
  height: 20px;
}

input:checked + label>.check {
  background-color: rgb(199, 243, 193)
}

input:checked + label>.x {
  background-color: rgb(243, 193, 193)
}

input:checked + label>.na {
  background-color: rgb(193, 229, 243)
}

img:hover {
  background-color: rgb(180, 189, 192)
}

.individual-button {
  display: inline;
}

.check {
  border-radius: 4px 0 0 4px;
}

.na {
  border-radius: 0 4px 4px 0;
}

.full-screen-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(24, 24, 24, 0.6);
  z-index: 5;
}

.popup {
  width: 30vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 35vw;
  z-index: 6;
}

.pencil {
  border: 0;
  border-radius: 4px;
}

.explanation-label {
  margin: 10px 30px;
}

textarea {
  margin: 10px 40px;
  width: calc(30vw - 90px);
  position: relative;
}

.bottom-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

.done {
  background-color: rgb(20, 190, 20);
}

.save {
  background-color: yellow;
}

.cancel {
  background-color: skyblue;
}

.delete {
  background-color: rgb(248, 50, 50);
}

.done:hover {
  background-color: rgb(14, 155, 14);
}

.save:hover {
  background-color: rgb(196, 153, 10);
}

.cancel:hover {
  background-color: rgb(86, 146, 170);
}

.delete:hover {
  background-color: rgb(185, 26, 47);
}

.bottom-buttons>button {
  border: 0;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, .25);
  padding: 5px 15px;
}

.bottom-buttons>button:hover {
  box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, .4);
}