<div class="checkbox-item">
  <div class="checkbox-container">
    <div class="button-set">
      <div class="individual-button" *ngFor="let i of ['check', 'x', 'na']">
        <img [src]="'/assets/' + i + '.png'" [alt]="i" [class]="isSelected(i) ? i + '-selected' + i" (click)="select(i)" (keydown.enter)="select(i)" tabindex=0></label>
      </div>
      <img alt="Comment Button" 
        [src]="comment === '' ? '/assets/blank.png' : finalized ? '/assets/complete.png' : '/assets/progress.png'" 
        (click)="deploy()" (keydown.enter)="deploy()" class="pencil" [hidden]="!isChecked()" tabindex=0>
    </div>
    <div class="checkbox-label">
      <div (click)="toggleRollable()" (keydown.enter)="toggleRollable()" tabindex=0>
        <p class="checkbox-description">ID: {{id}}</p>
        <p class="checkbox-description">
          Description : {{ title }}
        </p>
      </div>
    </div>
  </div>
  <app-rollable *ngIf="expanded"
    [examples]="examples"
    [references]="references"
    [props]="props"
  ></app-rollable>
</div>

<div class="full-screen-fixed" *ngIf="popup" (mousedown)="down($event)" (mouseup)="up($event)" (mouseenter)="commentFocus()" (keydown.escape)="cancel()">
  <div class="pane popup">
    <br>
    <label for="comment" class="explanation-label">Brief Explanation: </label><br><br>
    <textarea id="comment" [value]="comment" placeholder="Explanation" rows="4"></textarea>
    <div class="bottom-buttons">
      <div (click)="done()" (keydown.enter)="done()" tabindex=0>
        <div id="done"></div>
        <p>Done</p>
      </div>
      <div (click)="save()" (keydown.enter)="save()" tabindex=0>
        <div id="save"></div>
        <p>Save</p>
      </div>
      <div (click)="cancel()" (keydown.enter)="cancel()" tabindex=0>
        <div id="cancel"></div>
        <p>Cancel</p>
      </div>
      <div (click)="del()" (keydown.enter)="del()" tabindex=0>
        <div id="delete"></div>
        <p>Delete</p>
      </div>
    </div>
  </div>
</div>
