<div class="checkbox-item">
  <div class="checkbox-container">
    <div class="button-set">
      <div class="individual-button" *ngFor="let i of ['check', 'x', 'na']">
        <input [id]="UID + '-' + i" hidden type="radio" [name]="UID + '-selector'" [value]="i" (click)="select(i)" [(ngModel)]="selection">
        <label [for]="UID + '-' + i"><img [src]="'/assets/' + i + '.png'" [alt]="i" [class]="i" (keydown.enter)="select(i)" tabindex=0></label>
      </div>
    </div>
    <img alt="Comment Button" 
        [src]="comment === '' ? '/assets/blank.png' : finalized ? '/assets/complete.png' : '/assets/progress.png'" 
        (click)="openPopup()" (keydown.enter)="openPopup()" class="pencil" [hidden]="!isChecked()" tabindex=0>
    <label class="checkbox-label" (click)="toggleRollable()" (keydown.enter)="toggleRollable()" tabindex=0>
      {{ id }}: {{ title }}
    </label>
  </div>
  <app-rollable *ngIf="showRollable"
    [description]="getDescription()"
    [examples]="getExamples()"
    [subControls]="controls"
    [references]="getReferences()"
  ></app-rollable>
</div>

<dialog id="explanation-popup" class="pane">
  <label for="comment" class="explanation-label">Brief Explanation: </label><br>
  <textarea id="comment" [value]="comment" placeholder="Explanation" rows="6"></textarea>
  <div class="bottom-buttons">
    <div (click)="done()" (keydown.enter)="done()" tabindex=0>
      <div id="done"></div>
      <p>Done</p>
    </div>
    <div (click)="save()" (keydown.enter)="save()" tabindex=0>
      <div id="save"></div>
      <p>Save</p>
    </div>
    <div (click)="cancel()" (keydown.enter)="cancel()" tabindex=0>
      <div id="cancel"></div>
      <p>Cancel</p>
    </div>
    <div (click)="del()" (keydown.enter)="del()" tabindex=0>
      <div id="delete"></div>
      <p>Delete</p>
    </div>
  </div>
</dialog>
