.upload-button {
  margin-bottom: 1rem;
  margin-top: 45px;
}

.drag-drop-area {
  width: 100%;
  border: 2px dashed #ccc;
  border-radius: 4px;
  text-align: center;
  margin-top: 50px;
}

.file-upload {
  height: 100%;
  padding-right: 25px;
}

p {
  padding-bottom: 25px;
}