.upload-button {
  margin-bottom: 1rem;
  margin-top: 45px;
}

.drag-drop-area {
  width: 100%;
  border: 2px dashed rgb(145, 145, 145);
  text-align: center;
  margin-top: 50px;
  background-color: white;
  box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, .25);
}

.file-upload {
  height: 100%;
  padding-right: 25px;
}

p {
  padding-bottom: 25px;
}