<div class="attestation pane" id="attestation">
  <h2>Select your attestation type:</h2>
  <input type="radio" id="company-wide" name="attestation" [(ngModel)]="attestationType" (change)="updateAtestationType()"  value="company" class="landing">
  <label for="company-wide">Company-wide</label><br>
  <input type="radio" id="product-line" name="attestation" [(ngModel)]="attestationType" (change)="updateAtestationType()" value="product">
  <label for="product-line">Product line</label><br>
  <input type="radio" id="individual" name="attestation"  [(ngModel)]="attestationType"  (change)="updateAtestationType()" value="individual">
  <label for="individual">Individual Product</label><br>
  <input type="radio" id="multiple" name="attestation" [(ngModel)]="attestationType"  (change)="updateAtestationType()" value="multiple">
  <label for="multiple">Multiple products or Specific Product Version(s)</label>
  <div *ngIf="attestationType!=='company' && attestationType!==''" class="table-section">
    <table>
      <tr>
        <th>Product(s) or Product Line Name</th>
        <th>Version Number (if applicable)</th>
        <th>Release/Publish Date</th>
      </tr>
      <tr *ngFor="let row of info; let i = index">
        <td><input [id]="'subject-name-' + i" type ="text" name="form" (keyup)="onKey($event, row, 'name')" (click)="onKey($event, row, 'name'); updateAttestationSubject(i, 'name', $event)" (blur)="updateAttestationSubject(i, 'name', $event)" value={{row.getName()}} class="table-field"></td>
        <td><input [id]="'subject-version-' + i" type ="text" name="form"(keyup)="onKey($event, row, 'version')" (click)="onKey($event, row, 'version'); updateAttestationSubject(i, 'version', $event)" (blur)="updateAttestationSubject(i, 'version', $event)" value={{row.getVersion()}} class="table-field"></td>
        <td><input [id]="'subject-date-' + i" type ="date" name="form" (change)="onKey($event, row, 'date')" (click)="onKey($event, row, 'date'); updateAttestationSubject(i, 'date', $event)" (blur)="updateAttestationSubject(i, 'date', $event)" value={{row.getDate()}} class="table-field"></td>
      </tr>
    </table>
    <button class="add" mat-button (click)="addRow()" [hidden]="attestationType!=='multiple'" id="add-subject-row">+</button>
    <button class="add" mat-button (click)="removeRow()" *ngIf="info.length>1">-</button>
  </div>
</div>

<div class="catalogs">
  <div class="catalog-container pane" *ngFor="let catalog of catalogData.catalogs" [id]="'catalog-' + catalog.uuid"> 
    <app-catalog [catalog] = "catalog"></app-catalog>
  </div>
  <div class="restore-container" [hidden]="isDefaultPresent()">
    <p class="pane restore">
      It looks like you deleted the default catalog &nbsp;&nbsp;
      <span class="blue-text" (click)="restoreDefaultCatalog()" tabindex=0 (keydown.enter)="restoreDefaultCatalog()">Restore it?</span>
    </p>
  </div>
  <div class="lower-div">
    <app-catalog-processing (fileSelected)="onFileSelected($event)"></app-catalog-processing> 
    <div class="generate-report-outer-div">
      <button class="save-progress" (click)="generateAssessmentPlan()">Save Attestation</button>
    </div>
  </div>
</div>
