<div class="attestation pane" id="attestation">
  <h2>Select your attestation type:</h2>
  <input type="radio" id="company-wide" name="attestation" (click)="subject.stringType='company'" value="company" class="landing" [checked]="subject.stringType==='company'">
  <label for="company-wide">Company-wide</label><br>
  <input type="radio" id="product-line" name="attestation" (click)="subject.stringType='productLine'" [checked]="subject.stringType==='productLine'" value="productLine">
  <label for="product-line">Product line</label><br>
  <input type="radio" id="individual" name="attestation" (click)="subject.stringType='individual'" [checked]="subject.stringType==='individual'" value="individual">
  <label for="individual">Individual Product</label><br>
  <input type="radio" id="multiple" name="attestation" (click)="subject.stringType='multiple'" [checked]="subject.stringType==='multiple'" value="multiple">
  <label for="multiple">Multiple products or Specific Product Version(s)</label>
  <div *ngIf="subject.stringType !== 'company'" class="table-section">
    <table>
      <tr>
        <th>Product(s) or Product Line Name</th>
        <th>Version Number (if applicable)</th>
        <th>Release/Publish Date</th>
      </tr>
      <tr *ngFor="let row of subject.lines; let i = index">
        <td><input [id]="'subject-name-' + i" type ="text" name="form" [(ngModel)]="subject.lines[i].name" class="table-field"></td>
        <td><input [id]="'subject-version-' + i" type ="text" name="form" [(ngModel)]="subject.lines[i].version" class="table-field"></td>
        <td><input [id]="'subject-date-' + i" type ="date" name="form" [(ngModel)]="subject.lines[i].date" class="table-field"></td>
      </tr>
    </table>
    <button class="add" mat-button (click)="addRow()" [hidden]="subject.stringType !== 'multiple'" id="add-subject-row">+</button>
    <button class="add" mat-button (click)="removeRow()" *ngIf="subject.lines.length>1">-</button>
  </div>
</div>

<div class="catalogs">
  <div class="catalog-container pane" *ngFor="let catalog of form?.catalogs" [id]="'catalog-' + catalog.uuid"> 
    <app-catalog [catalog] = "catalog"></app-catalog>
  </div>
  <div class="restore-container" [hidden]="form?.isDefaultPresent()">
    <p class="pane restore">
      It looks like you deleted the default catalog &nbsp;&nbsp;
      <span class="blue-text" (click)="form?.addCatalog()" tabindex=0 (keydown.enter)="form?.addCatalog()">Restore it?</span>
    </p>
  </div>
  <div class="lower-div">
    <app-catalog-processing></app-catalog-processing> 
    <div class="generate-report-outer-div">
      <button class="save-progress" (click)="generateAssessmentPlan()">Save Attestation</button>
      <div class="lower-button">
        <p *ngIf="!isFormComplete()">!</p>
        <p class="tool-tip">{{ getErrorMessage() }}</p>
        <button [className]="isFormComplete() ? 'generate-report-button completed' : 'generate-report-button in-progress'">Generate Report</button>
      </div>
    </div>
  </div>
</div>
