<div class="rollable-content">
  <section *ngIf="hasDescription()">
    <h3>Description</h3>
    <p>{{ description }}</p>
  </section>
  <section *ngIf="hasSubControls()">
    <h3>Sub-Controls</h3>
    <ul>
      <li *ngFor="let control of subControls">
        <app-control 
          [id]="control.id"
          [title]="control.title"
          [class]="control.class"
          [params]="control.params"
          [parts]="control.parts"
          [links]="control.links"
          [props]="control.props"
          [controls]="control.controls"
        ></app-control>
      </li>
    </ul>
  </section>
  <section *ngIf="hasExamples()">
    <h3>Examples</h3>
    <ul>
      <li class="example" *ngFor="let example of examples">{{example.title}}</li>
    </ul>
  </section>
  <section *ngIf="hasReferences()">
    <h3>References</h3>
    <ul class="multi-column">
      <li *ngFor="let prop of references" class="reference">
        {{prop.name}}: {{prop.value}}
      </li>
    </ul>
  </section>
</div>