<div class="rollable-content">
  <section *ngIf="hasDescription()">
    <h3>Description</h3>
    <p>{{ description }}</p>
  </section>
  <section *ngIf="hasExamples()">
    <h3>Examples</h3>
    <ul>
      <li class="example" *ngFor="let example of examples">{{example}}</li>
    </ul>
  </section>
  <section *ngIf="hasReferences()">
    <h3>References</h3>
    <ul class="multi-column">
      <li *ngFor="let prop of references" class="reference">
        {{prop.name}}: {{prop.value}}
      </li>
    </ul>
  </section>
  <section *ngIf="hasProperties()">
    <h3>Properties</h3>
    <ul class="multi-column">
      <li *ngFor="let prop of props" class="reference">
        {{prop.name}}: {{prop.value}}
      </li>
    </ul>
  </section>
  <section *ngIf="hasSubControls()">
    <h3>Sub-Controls</h3>
    <ul class="subcontrols-unordered-list">
      <li *ngFor="let control of subControls">
        <app-control [control]="control"></app-control>
      </li>
    </ul>
  </section>
</div>