.rollable-content {
  margin-left: 20px; /* Increase this value to indent the description more */
  margin-top: 5px;
}
.example, .reference {
  margin: .1em 3em .3 3em;
  color: rgb(48, 48, 48);
}

h3 {
  margin: .1em 1.5em;
}

ul {
  margin: 0;
}

.multi-column {
  display: grid;
  grid-template-columns: auto auto auto;
}

.reference {
  margin-left: 30px;
  margin-right: 30px;
}