<form class="pane" id="contact-form">
    <div class="form-column">
      <h3>Software Producer Information</h3>
      <label for="company-name">Company Name: </label>
      <input id="company-name" type="text">
      <label for="address">Address: </label>
      <input id="address" type="text">
      <label for="city">City: </label>
      <input id="city" type="text">
      <label for="state">State or Province: </label>
      <input id="state" type="text">
      <label for="zip">Postal Code: </label>
      <input id="zip" type="text">
      <label for="country">Country: </label>
      <input id="country" type="text">
      <label for="website">Website: </label>
      <input id="website" type="url">
    </div>
    <div class="center-line"></div>
    <div class="form-column">
      <h3>Primary Contact for this Document</h3>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text">
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text">
      <label for="title">Title: </label>
      <input id="title" type="text">
      <label for="contact-address">Address: </label>
      <input id="contact-address" type="text">
      <label for="phone">Phone: </label>
      <input id="phone" type="tel">
      <label for="email">Email: </label>
      <input id="email" type="email">
    </div>
  </form>
