<div class="center">
  <form class="pane" id="contact-form">
      <div class="form-column">
        <h3>Software Producer Information</h3>
        <label for="company-name">Company Name: </label>
        <input id="company-name" type="text" (blur)="updateCompanyName($event)" value="{{contactService.companyName}}" autocomplete="organization" >
        <label for="address">Address: </label>
        <input id="address" type="text"(blur)="updateCompanyAddress($event)" value="{{contactService.companyAddress}}" autocomplete="address-line1">
        <label for="city">City: </label>
        <input id="city" type="text" (blur)="updateCity($event)" value="{{contactService.city}}" autocomplete="address-level2">
        <label for="state">State or Province: </label>
        <input id="state" type="text" (blur)="updateState($event)" value="{{contactService.state}}" autocomplete="address-level1">
        <label for="country">Country: </label>
        <input id="country" type="text" (blur)="updateCountry($event)" value="{{contactService.country}}" autocomplete="country-name">
        <label for="zip">Postal Code: </label>
        <input id="zip" type="text" (blur)="updatePostal($event)" value="{{contactService.postalCode}}" autocomplete="postal-code" >
        <label for="website">Website: </label>
        <input id="website" type="url" (blur)="updateWebsite($event)" value="{{contactService.website}}" autocomplete="url">
      </div>
      <div class="center-line"></div>
      <div class="form-column">
        <h3>Primary Contact for this Document</h3>
        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" (blur)="updateFirstName($event)" value="{{contactService.firstName}}" autocomplete="given-name">
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" (blur)="updateLastName($event)" value="{{contactService.lastName}}" autocomplete="family-name">
        <label for="title">Title: </label>
        <input id="title" type="text" (blur)="updateTitle($event)" value="{{contactService.title}}" autocomplete="organization-title">
        <label for="contact-address">Address: </label>
        <input id="contact-address" type="text" (blur)="updatePersonalAddress($event)" value="{{contactService.personalAddress}} " autocomplete="address-line1">
        <label for="contact-city">City: </label>
        <input id="contact-city" type="text" (blur)="updatePersonalCity($event)"  value="{{contactService.personalCity}}" autocomplete="address-level2">
        <label for="contact-state">State: </label>
        <input id="contact-state" type="text" (blur)="updatePersonalState($event)" value="{{contactService.personalState}}" autocomplete="address-level1">
        <label for="contact-country">Country: </label>
        <input id="contact-country" type="text" (blur)="updatePersonalCountry($event)" value="{{contactService.personalCountry}}" autocomplete="country-name">
        <label for="contact-zip">Postal Code: </label>
        <input id="contact-zip" type="text" (blur)="updatePersonalPostal($event)"  value="{{contactService.personalPostal}}"autocomplete="postal-code">
        <label for="phone">Phone: </label>
        <input id="phone" type="tel" (blur)="updatePhone($event)" value="{{contactService.phone}}" autocomplete="tel">
        <label for="email">Email: </label>
        <input id="email" type="email" (blur)="updateEmail($event)" value="{{contactService.email}}" autocomplete="email">
      </div>
    </form>

</div>
<div class="bot-right">
  <button  class="blue" *ngIf="checkAttestations()"  (click)="lastAttestation()">Proceed to Attestation Form</button>
  <button class="green" *ngIf="!checkAttestations()"  (click)="newForm()">+ New Attestation</button>
</div>

