<form class="demo">
    <input type="radio" id="company-wide" name="attestation" [(ngModel)]="selectedValue" value="company">
    <label for="company-wide">Company-wide</label><br>
    <input type="radio" id="product-line" name="attestation" [(ngModel)]="selectedValue" value="product">
    <label for="product-line">Product line</label><br>
    <input type="radio" id="indivdual" name="attestation"  [(ngModel)]="selectedValue" valu="individual">
    <label for="individual">Individual Product</label><br>
    <input type="radio" id="multiple" name="attestation" [(ngModel)]="selectedValue" value="multiple">
    <label for="multiple">Multiple products or Specific Product Version(s)</label>
    <div class="grid" *ngIf="selectedValue!='company'" >
        <mat-grid-list cols="3" rowHeight="35px">
            <mat-grid-tile>Product(s) or Product Line Name </mat-grid-tile> 
            <mat-grid-tile>Version Number (if applicable)</mat-grid-tile>
            <mat-grid-tile>Release/Publish Date </mat-grid-tile>
            <div class = "row" *ngFor="let row of info">
                <mat-grid-tile width="50px"><input type ="text" name="form" (keyup)="onKey($event, row, 'name')" value="{{row.getName()}}"> </mat-grid-tile> 
                <mat-grid-tile><input type ="text" name="form"(keyup)="onKey($event, row, 'version')" value={{row.getVersion()}} ></mat-grid-tile>
                <mat-grid-tile><input type ="text" name="form"  placeholder="YYYY-MM-DD" (keyup)="onKey($event, row, 'date')" value={{row.getDate()}}></mat-grid-tile>
            </div>
    
        </mat-grid-list>
        <button class="add" mat-button (click)="addRow()">+</button>
        <button class="add" mat-button (click)="removeRow()" *ngIf="info.length>1">-</button>

    </div>
</form>
<div class="center">
<button class="submit" [disabled]="!validComments()&&selectedValue!=='company'" mat-button (click)="onSubmit() ">Submit</button>
</div>