<div class="attestation pane" id="attestation">
    <h2>Secure Software Development Attestation Form</h2>
    <input type="radio" id="company-wide" name="attestation" [(ngModel)]="selectedValue" (change)="updateSelect()" value="company">
    <label for="company-wide">Company-wide</label><br>
    <input type="radio" id="product-line" name="attestation" [(ngModel)]="selectedValue" (change)="updateSelect()" value="product">
    <label for="product-line">Product line</label><br>
    <input type="radio" id="indivdual" name="attestation"  [(ngModel)]="selectedValue" (change)="updateSelect()" valu="individual">
    <label for="individual">Individual Product</label><br>
    <input type="radio" id="multiple" name="attestation" [(ngModel)]="selectedValue" (change)="updateSelect()" value="multiple">
    <label for="multiple">Multiple products or Specific Product Version(s)</label>
    <div *ngIf="selectedValue!='company'" class="main-table">
        <br>
        <mat-grid-list cols="3" rowHeight="35px">
            <mat-grid-tile>Product(s) or Product Line Name </mat-grid-tile> 
            <mat-grid-tile>Version Number (if applicable)</mat-grid-tile>
            <mat-grid-tile>Release/Publish Date </mat-grid-tile>
            <div class = "row" *ngFor="let row of info">
                <mat-grid-tile width="50px"><input type ="text" name="form" (keyup)="onKey($event, row, 'name')" value="{{row.getName()}}"> </mat-grid-tile> 
                <mat-grid-tile><input type ="text" name="form"(keyup)="onKey($event, row, 'version')" value={{row.getVersion()}} ></mat-grid-tile>
                <mat-grid-tile><input type ="date" name="form" (keyup)="onKey($event, row, 'date')" value={{row.getDate()}}></mat-grid-tile>
            </div>
    
        </mat-grid-list>
        <button class="add" mat-button (click)="addRow()">+</button>
        <button class="add" mat-button (click)="removeRow()" *ngIf="info.length>1">-</button>
    </div>
</div>