/**
 * Copyright 2023 Rochester Institute of Technology (RIT). Developed with
 * government support under contract 70RSAT19CB0000020 awarded by the United
 * States Department of Homeland Security.
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in
 * all copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 */


/* Nav Rules */

nav {
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: auto auto;
  z-index: 3;
  right: -400px;
}

.nav-opening {
  animation-name: navOpening;
  animation-duration: .5s;
  right: 0vw;
}

.nav-closing {
  animation-name: navClosing;
  animation-duration: .5s;
  right: -400px;
}

.nav-icon {
  width: 60px;
  height: 60px;
  background-color: #005EA2;
  border-bottom: 3px solid darkgray;
  border-left: 3px solid darkgray;
  border-radius: 0 0 0 5px;
  display: grid;
  grid-template-rows: auto auto auto;
  cursor: pointer;
}

.nav-icon:hover {
  background-color: #004577;
}

.hamburger-line {
  background-color: white;
  height: 5px;
  width: 30px;
  border-radius: 3px;
  margin: auto;
}

.hamburger-line:nth-child(1) {
  margin-top: 18px;
}

.hamburger-line:nth-child(3) {
  margin-bottom: 18px;
}

.expanded-nav {
  width: 400px;
  height: 100vh;
  background-color: white;
  border-left: 2px solid black;
  box-shadow: -4px 0 4px 0 rgba(0, 0, 0, .4);
  text-align: center;
}

.expanded-nav ul {
  list-style: none;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.expanded-nav>ul>li {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
  text-align: left;
}

.expanded-nav>ul>li:first-child {
  border-top: 1px solid black;
}

.expanded-nav a {
  padding: 15px 10px;
  margin: 0;
  display: block;
  text-indent: 20px;
}

.expanded-nav a:hover {
  background-color: #EFF2F4;
}

.expanded-nav h2 {
  text-align: center;
  text-decoration: underline;
  margin: 25px 0;
}


.list-grid {
  display: grid;
  grid-template-columns: 40px 200px 80px 80px;
}

.list-grid p {
  font-size: larger;
  padding: 10px 10px 10px 9px;
  margin: 0;
  display: inline;
}

.prepend-up-arrow::before {
  content: "▲ "
}

.prepend-down-arrow::before {
  content: "▼ "
}

.list-grid p:hover {
  background-color: #EFF2F4;
}

.list-grid ul {
  margin: 0 0 18px 18px;
  padding: 0;
  border-left: 1px solid gray;
  grid-column: 1/5;

}

.list-grid>a {
  text-indent: 15px;
}

.list-grid ul a {
  padding-left: 20px;
  color: rgb(25, 10, 77);
  text-decoration: none;
  position: relative;
  animation: treeItemFadeIn 300ms;
  animation-delay: calc(var(--order) * 70ms);
  animation-fill-mode: backwards;
}

.bottom {
  position: absolute;
  bottom: 0;
  padding: 20px 10px 25px;
  margin: 0;
  background-color: #005EA2;
  color: white;
  width: 400px;
  text-indent: -20px;
  user-select: none;
  cursor: pointer;
}

.bottom:hover {
  background-color: #003a63;
}

nav input {
  padding: 15px 10px 15px 25px;
  outline: none;
  border: 0;
  font-size: 12pt;
  font-family: roboto, "Helvetica Neue", sans-serif;
}

.add{
  padding: 20px 0;
  text-align: center;
  margin: 0;
  background-color: rgb(4,170, 109);
  color: white;
  user-select: none;
  cursor: pointer;
}

.add:hover{
  background-color: rgb(0,150, 89);
}

.delete{
  background-color: rgb(161, 41, 41);
}

.delete:hover{
  background-color:rgb(97, 20, 20);
}

.rename{
  background-color: #005EA2;
}

.rename:hover{
  background-color: #003a63;
}

.confirm{
  background-color: rgb(4,170, 109);
}

.confirm:hover {
  background-color: rgb(0,150, 89);
}

.nav-button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  color: white;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .4);
}

.nav-button:hover {
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, .6);
}

@keyframes navOpening {
  from {right: -400px;}
  to {right: 0vw;}
}

@keyframes navClosing {
  from {right: 0vw;}
  to {right: -400px;}
}

@keyframes treeItemFadeIn {
  from {top: -20px; opacity: 0}
  to {top: 0; opacity: 1}
}

#page-title {
  margin: 0 auto;
  padding: 5px 50px;
  background-color: lightgray;
  border-radius: 0 0 5px 5px;
  display: inline-block;
  font-weight: 400;
  font-size: larger;
}

a {
  cursor: pointer;
}

#needed-files-upload {
  justify-content: center;
  align-content: center;
  margin: auto;
  width: clamp(400px, 60vw, 800px);
  position: relative;
  top: -25vh;
}

#needed-files-upload::backdrop {
  background-color: rgba(0, 0, 0, .95)
}

#needed-files-upload ul {
  list-style: none;
}

#needed-files-upload button {
  display: block;
  margin: auto;
}

#needed-files-upload li {
  color: rgb(224, 15, 15);
}

.scroll-box {
  overflow-y: scroll;
  border: 1px solid gray;
  min-height: 100px;
  max-height: clamp(200px, 40vh, 600px);
  margin: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: lightgray;
  min-height: 2.5rem;
  width: 100%;
}

footer span {
  color: #005EA2;
  text-decoration: underline;
  user-select: none;
  cursor: pointer;
}

footer p {
  margin: 10px 30px;
}

.long-bottom {
  padding-bottom: 15rem;
}

@media screen and (max-width: 1500px) {
  .long-bottom {
      padding-bottom: 20rem;
  }
}

@media screen and (max-width: 1000px) {
  .long-bottom {
      padding-bottom: 25rem;
  }
}

@media screen and (max-width: 800px) {
  .long-bottom {
      padding-bottom: 30rem;
  }
}