.checkbox-container {
    display: flex;
    justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100%;
}

.catalog-container {
  width: 100%;
  border: 2px solid black;
  margin-top: 20px;
}

.attest{
  width:200px;
  height: 30px;
}